<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ninja Gold Game</title>
  </head>
  <body>
    <h1>Your gold ={{ request.session.total_number_of_gold }}</h1>

    <div>
      <h2>Farm</h2>
      <p>(earns 10-20 gold)</p>
      <form action="/process_money" method="POST">
        {% csrf_token %}
        <input type="hidden" name="location" value="farm" />
        <button>Find Gold!</button>
      </form>
    </div>
    <div>
      <h2>Cave</h2>
      <p>(earns 10-20 gold)</p>
      <form action="/process_money" method="POST">
        {%csrf_token%}
        <input type="hidden" name="location" value="cave" />
        <button>Find Gold!</button>
      </form>
    </div>
    <div>
      <h2>House</h2>
      <p>(earns 10-20 gold)</p>
      <form action="/process_money" method="POST">
        {%csrf_token%}
        <input type="hidden" name="location" value="house" />
        <button>Find Gold!</button>
      </form>
    </div>
    <div>
      <h2>Quest</h2>
      <p>(earns/takes 0-50 gold)</p>
      <form action="process_money" method="POST">
        {%csrf_token%}
        <input type="hidden" name="location" value="quest" />
        <button>Find Gold!</button>
      </form>
    </div>
    <h2>Activities:</h2>
    
  </body>
</html>
