<!DOCTYPE html>
<html>
<head>
    <title>Great Number Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Welcome to the Great Number Game!</h1>
        <p>I am thinking of a number between 1 and 100</p>

        {% if session["message"] %}
            <div class="box {{ session['status'] }}">
                <h2>{{ session["message"] }}</h2>
            </div>
        {% endif %}

        {% if session["status"] != "correct" and session["status"] != "lose" %}
            <form action="/guess" method="POST">
                <input type="number" name="guess" min="1" max="100" required>
                <button type="submit">Submit</button>
            </form>
        {% endif %}

        <p>Attempts: {{ session["attempts"] }}</p>

        {% if session["status"] == "correct" or session["status"] == "lose" %}
            <a href="/reset">
                <button>Play Again</button>
            </a>
        {% endif %}
    </div>

</body>
</html>