<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Address</title>
</head>

<body>

    <form action="createaddresspost" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Address Information</legend>

            <label for="city">City:</label>
            <input type="text" id="city" name="city" placeholder="Fill City">

            <br><br>

            <label for="streetNumber">Street Number:</label>
            <input type="text" id="streetNumber" name="streetNumber" placeholder="Fill Street Number">

            <br><br>

            <label for="apartmentNum">Apartment Number:</label>
            <input type="text" id="apartmentNum" name="apartmentNum" placeholder="Fill Apartment Number">

            <br><br>



            <label for="country">Country:</label>
            <input type="text" id="country" name="country" placeholder="Fill country">

            <br><br>

            <input type="submit" value="Create">
        </fieldset>

    </form>

    <a href="{% url 'homeroute' %}">Back</a>

</body>

</html>