<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Users</title>
</head>

<body>
    <table>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Username</th>
            <th>Password</th>
            <th>Delete</th>
            <th>Edit</th>
            <th>Addresses</th>
        </tr>

        {% for user in allusers %}
        <tr>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.password }} </td>
            <td>
                <form action="delete" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{user.id}}">
                    <input type="submit" value="Delete">
                </form>
            </td>
            <td> <a href="edit/{{user.id}}">Edit</a></td>
            <td> <ul> {% for location in user.address.all %}
                <li> {{location.city }} - {{ location.country  }}</li>
                {% endfor %}
                </ul>
            </td>
        <tr>
            {% endfor %}
    </table>


    <a href="{% url 'homeroute' %}">Back</a>


</body>

</html>