        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url("photo/d62033ee49601c7b4b7d886b3d09dfe9.jpg");

        }

        .scene {
            perspective: 1400px;
        }

        .door-frame {
            width: 418px;
            height: 660px;
            position: relative;
            background-image: url("photo/photo-1495745966610-2a67f2297e5e.avif");
            background-size: cover;
            background-position:center;
            border: 6px solid #3b2418;
            border-radius: 8px;
            box-shadow: 0 20px 35px rgba(0, 0, 0, 0.25);
        }

        .door {
            width: 800px;
            height: 100%;
            background-image: url("photo/compressed.webp");
            border-radius: 4px;
            background-size: cover;
            background-position: center;
            transform-origin: left center;
            /* transform-style: preserve-3d; */
            transition: transform 1.09s ease;
            cursor: pointer;
        }

        .door.open {
            transform: rotateY(-120deg);
        }