<h1>Edit Project</h1>

<a href="/dashboard/">Dashboard</a>
<a href="/logout/">Logout</a>

{% for message in messages %}
    <p style="color:red;">{{ message }}</p>
{% endfor %}

<form action="/projects/{{ project.id }}/update/" method="POST">
    {% csrf_token %}

    <p>Title</p>
    <input type="text" name="title" value="{{ project.title }}">

    <p>Description</p>
    <textarea name="description">{{ project.description }}</textarea>

    <p>End Date</p>
    <input type="date" name="end_date" value="{{ project.end_date|date:'Y-m-d' }}">

    <br><br>
    <button>Update Project</button>
</form>