    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Arial, sans-serif;
        background: linear-gradient(135deg, #141e30, #243b55);
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 20px;
    }

    .app {
        width: 100%;
        max-width: 1100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .panel {
        background: rgba(255, 255, 255, 0.08);
        border-radius: 20px;
        padding: 25px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
    }

    .player-panel {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .cover {
        width: 100%;
        height: 300px;
        border-radius: 20px;
        overflow: hidden;
        background: #1e293b;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cover img {
        width: 350px;
        height: 350px;
        
    }

    .label {
        font-size: 14px;
        color: #cbd5e1;
        margin-bottom: 8px;
        display: inline-block;
    }

    #track-title {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .artist {
        color: #cbd5e1;
        font-size: 18px;
    }

    audio {
        width: 100%;

    }
audio::-webkit-media-controls-panel{
    background: linear-gradient(90deg, #0f23fa 0%, #0f85fa 50%, #0fe7fa 100%);;
    
}
audio::-webkit-media-controls-play-button{
    background-color: #0fe7fa;
    border-radius: 50%;
}

 
    .playlist-title {
        margin-bottom: 20px;
        font-size: 24px;
    }

    .playlist {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .track {
        background: rgba(255, 255, 255, 0.06);
        border-radius: 15px;
        padding: 15px;
        cursor: pointer;
        transition: 0.3s;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .track:hover {
        background: rgba(255, 255, 255, 0.12);
    }

    .track.active {
        background: rgba(59, 130, 246, 0.35);
        border: 1px solid #93c5fd;
    }

    .track-text strong {
        display: block;
        font-size: 18px;
    }

    .track-text span {
        color: #cbd5e1;
        font-size: 14px;
        margin-top: 5px;
        display: block;
    }

    .duration {
        font-size: 14px;
        color: #e2e8f0;
    }

    @media (max-width: 768px) {
        .app {
            grid-template-columns: 1fr;
        }

        .cover {
            height: 220px;
        }
    }