
body {
  font-family: sans-serif;
}

.nav {
  display: flex;
  background: #36394d;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  color: white;
}

.nav-link{
  display: flex;
  list-style-type: none;
  padding: 15px ;
}

a {
 text-decoration: none;
 color: #bbbbbb;
 margin-right: 15px;
}

.active{
   color: white; 
}

.btn {
  color:white;
  background-color: #17a2b8;
  box-shadow: 1px 2px 3px 3px black;
}

