<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Project</title>
</head>
<body>
    <h1>Hello {{ user.first_name}} {{ user.last_name}} </h1><br>
    <a href="/logout">Logout</a>
    {% if messages %} {% for message in messages %}
    <p style="color: red">{{ message }}</p>
    {% endfor %} {% endif %}
    <form action="/projects.{{ project.id }}/update" method="POST">
        {%csrf_token%}
        <label for="text">Project Name</label>
        <input type="text" name="name" value="{{ project.name }}"><br><br>
        <label for="text">Description</label>
        <textarea name="description" value="{{project.description}}"></textarea><br><br>
        <label for="text">Start Date</label>
        <input type="date" name="start_date" value="{{project.start_date|date:'Y-m-d'}}"><br><br>
        <label for="text">End Date</label>
        <input type="date" name="start_date" value="{{project.end_date|date:'Y-m-d'}}"><br><br>
        <button type="submit">Update</button>
        <a href="projects/{{project.id}}">Back</a>
        <a href="/projects/{{project.id}}/delete"> <button>Delete</button></a>

    </form>    

    
</body>
</html>