<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

    <h1>Login</h1>

    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

    <form method="POST">
        {% csrf_token %}

        <p>Username:</p>
        <input type="text" name="username" required>

        <p>Password:</p>
        <input type="password" name="password" required>

        <br><br>
        <button type="submit">Login</button>
    </form>

    <br>
    <a href="/register/">Create new account</a>

</body>
</html>