<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Project</title>
</head>
<body>
    <a href="/logout">Logout</a>
    <br>
    {%for message in messages%}
        <p style = "color:red;">{{message}}</p>
    {%endfor%}

    <form action="/projects/{{project.id}}/update/" method="POST">
        {%csrf_token%}

        <p>Game name</p>
        <input type="text" name="title" value="{{project.title}}">
        <p>Genre</p>
        <input type="text" name="network" value="{{project.network}}">
        <p>Release Date</p>
        <input type="date" name="release_date" value="{{ show.release_date|date:'Y-m-d' }}">
        <p>Description</p>
        <textarea name="desc">{{project.desc}}</textarea>
        <br>
        <button type="submit">Apply</button>
        <button type="reset">Cancel</button>


    </form>
    
</body>
</html>