<!doctype html>
<html>
  <head>
    <title>Edit Game</title>
  </head>
  <body>
    <h1>Edit Game</h1>
    <h2>Welcome {{user.first_name}} {{user.last_name}}</h2>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a> <hr><br>

    <form action="/games/{{game.id}}/update" method="POST">
      {% csrf_token %}

      <input type="text" name="name" value="{{game.name}}" /> <br /><br />
      <select name="genre">
      {% for genre in genres %}
        <option value="{{ genre }}"
            {% if game.genre == genre %}selected{% endif %}>
            {{ genre }}
        </option>
      {% endfor %}
      </select><br /><br />
      <input type="date" name="release_date" value="{{game.release_date|date:'Y-m-d'}}" /> <br /><br />
      <textarea name="description">{{game.description}}</textarea> <br /><br />
      <button>Apply</button>

      <a href="/game/{{game.id}}"> Cancel </a>
    </form>
  </body>
</html>
