<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
</head>
<body>

<h1>Profile Page</h1>

<a href="/logout">Logout</a>

<hr>

{% if profile_user.avatar %}
<img
src="{{profile_user.avatar.url}}"
width="150">
{% endif %}

<h2>
{{profile_user.first_name}}
{{profile_user.last_name}}
</h2>

<p>Email: {{profile_user.email}}</p>

<p>DOB: {{profile_user.dob}}</p>

<hr>

<h2>Favourite Games</h2>

<table border="1">

<tr>
    <th>ID</th>
    <th>Game</th>
</tr>

{% for game in favorite_games %}

<tr>

<td>{{game.id}}</td>

<td>{{game.name}}</td>

</tr>

{% endfor %}

</table>

</body>
</html>