   body {
       margin: 0;
       height: 100vh;
       display: flex;
       justify-content: center;
       align-items: center;
       background: #f2f2f2;
       font-family: Arial, sans-serif;
   }

   .quote-box {
       width: 600px;
       padding: 30px 40px;
       background: #fff;
       border-radius: 10px;
       border-left: 6px solid #2f80ed;
       box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
   }


   p {
       line-height: 1.6;
       font-size: 16px;
       position: relative;
   }


   p::before {
       content: "“";
       position: absolute;
       top: -20px;
       left: -10px;
       font-size: 40px;
       color: #2f80ed;
   }

   p::after {
       content: "”";
       position: absolute;
       right: -10px;
       top:50px ;
       font-size: 40px;
       color: #2f80ed;
   }

   p::first-letter {
       font-size: 28px;
       font-weight: bold;
       color: #2f80ed;
   }