* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(photo/background.gif);
  background-size: cover;
  background-position: center;
  color: white;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  flex-wrap: wrap;
  gap: 20px;
}

.neon-text {
  font-size: 2.5rem;
  text-shadow:
    0 0 5px #ff005e,
    0 0 10px #ff005e,
    0 0 20px #ff005e;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  flex-wrap: wrap;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: cyan;
}

/* underline */

.hover-underline {
  position: relative;
}

.hover-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, red, cyan);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transition: .3s;
}

.hover-underline:hover::after {
  transform: scaleX(1);
}

/* Controls */

.controls {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.search-box {
  display: flex;
  flex: 1;
  gap: 10px;
  flex-wrap: wrap;
}

.search-box input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: none;
}

/* Glow Buttons */

.glow-on-hover {
  position: relative;
  padding: 12px 22px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  border-radius: 10px;
  z-index: 0;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Grid */

.story-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  
}

/* Cards */

.story-card {
  position: relative;
  height: 260px;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
  transition: .4s;
}

.story-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s;
}

/* overlay */

.story-title {
  position: absolute;
  bottom: -40px;
  left: 20px;
  font-size: 20px;
  font-weight: bold;
  z-index: 2;
  transition: .4s;
}

.story-card:hover img {
  transform: scale(1.1);
}

.story-card:hover::before {
  opacity: 1;
}

.story-card:hover .story-title {
  bottom: 20px;
}

.story-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

/* Featured */

.heroPick::after {
  content: "Hero Pick 🔥";
  position: absolute;
  top: 10px;
  left: 10px;
  background: orange;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  z-index: 3;
}

/* Responsive */

@media(max-width:768px) {

  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .nav-links {
    justify-content: center;
  }

  .neon-text {
    font-size: 2rem;
  }

  .controls {
    flex-direction: column;
  }

  .glow-on-hover {
    flex: 1;
  }

}