<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Show</title>
</head>
<body>
    <h1>Edit Show {{show.id}}</h1>
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li style="color:red;">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <form action="/shows/update" method="POST">
        {%csrf_token%}
        <label for="text">Title</label>
        <input type="text" name="title" value="{{ show.title }}"><br><br>
        <label for="text">Network</label>
        <input type="text" name="network" value="{{show.network}}"><br><br>
        <label for="text">Release Date</label>
        <input type="date" name="release_date" value="{{ show.release_date|date:'Y-m-d' }}"><br><br>
        <label for="text">Description</label>
        <input type="text" name="desc" value="{{show.desc}}"><br><br>
        <input type="hidden" name="id" value="{{  show.id }}">
        <button type="submit">Update</button>
    </form>
    <a href="/shows/{{show.id}}">Go to show</a>
    <a href="/shows">go back</a>

    
</body>
</html>