<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1>TV Show {{show.id}}</h1>
    <p>Title : {{show.title}}</p>
    <p>Network: {{show.network}}</p>
    <p>Release Date:{{show.release_date}}</p>
    <p>Description:{{show.desc}}</p>
    <p>Last Updated:{{show.updated_at}}</p>
    <a href="/shows/{{show.id}}/edit">Edit</a>
    <a href="/shows/{{show.id}}/destroy">Delete</a>
    <a href="/shows">Go back</a>
</body>
</html>