<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chakerboard</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
</head>
<body>
   <h1>Checkerboard</h1>

    <div class="board">
        {% for row in range(rows) %}
            <div class="row">
                {% for col in range(cols) %}
                    {% if (row + col) % 2 == 0 %}
                        <div class="box" style="background-color: {{ color1 }}"></div>
                    {% else %}
                        <div class="box" style="background-color: {{ color2 }}"></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>
</html>